---
import Format from '../components/GeneralPage.astro';
import FooterSimple from '../layouts/footer.astro';
import HeaderSimple from '../layouts/Header.astro';
---
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<HeaderSimple></HeaderSimple>

<Format image="Guernica.jpg">
<p>La pintura de Picasso es un testimonio gráfico de la brutalidad de la guerra y se ha convertido en un símbolo universal de la violencia y la injusticia. A través de su estilo cubista y el uso de formas angulosas y distorsionadas, Picasso logra transmitir la deshumanización y el caos que resultan de los conflictos armados.</p>
<p>"Guernica" presenta una paleta de colores oscuros y sombríos, dominada por el blanco, el negro y los tonos de gris. La composición se organiza en torno a una escena central poderosa y desgarradora, donde figuras humanas y animales sufren y se retuercen en medio del caos. Entre los elementos destacados se encuentran un caballo agonizante, una madre que sostiene a su hijo muerto y un hombre con los brazos alzados en señal de angustia.</p>
<p>Esta obra maestra de Picasso trasciende las circunstancias históricas específicas y se ha convertido en un símbolo universal de los horrores de la guerra y la lucha por la paz. "Guernica" ha inspirado a generaciones de artistas y ha dejado una profunda huella en el mundo del arte y la conciencia colectiva.</p>
<p>A través de su representación vívida y conmovedora de la tragedia y el sufrimiento humano, "Guernica" sigue siendo un recordatorio impactante de las consecuencias destructivas de la guerra y un llamado a la reflexión y la acción para prevenir la violencia y buscar la armonía en nuestro mundo.</p>
</Format>
<FooterSimple></FooterSimple>
