---
import HeaderSimple from '../layouts/Header.astro';
import Format from '../components/GeneralPage.astro';
import FooterSimple from '../layouts/footer.astro';
---
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<HeaderSimple></HeaderSimple>
<Format image="MonaLisa.jpg" onclick="expandImage()">
    <p>La pintura muestra el retrato de una mujer joven de mirada enigmática, que se cree que es Lisa Gherardini, una mujer florentina de la época. La Mona Lisa se presenta en un formato de medio cuerpo, con la figura de la mujer girando suavemente hacia el espectador. Su expresión facial, con una sutil sonrisa y una mirada penetrante, ha generado fascinación y especulación a lo largo de los siglos.</p>

    <p>  La técnica utilizada por da Vinci en esta obra es excepcional. La pintura se caracteriza por su delicado uso de la luz y la sombra, conocido como sfumato, que crea una transición suave entre los tonos y proporciona una sensación de profundidad y realismo. Además, la riqueza de los detalles, como los pliegues de la vestimenta y la minuciosidad de los paisajes de fondo, demuestran el dominio de da Vinci como artista.</p>
    
    <p>   La Mona Lisa ha sido objeto de numerosos análisis y debates a lo largo de los siglos. La enigmática sonrisa de la figura y la mirada cautivadora han intrigado a historiadores, críticos de arte y admiradores por igual. Además, la composición equilibrada y el aura de misterio que rodea a la pintura han contribuido a su estatus como un ícono del arte y un símbolo de la belleza y la perfección.</p>
    
    <p>    Hoy en día, La Mona Lisa se exhibe en el Museo del Louvre en París, Francia, y sigue atrayendo a millones de visitantes cada año. Su influencia en el arte y la cultura es innegable, y su singularidad y magnetismo continúan fascinando a generaciones de personas en todo el mundo.</p>
</Format>
<FooterSimple></FooterSimple>
