---
import HeaderSimple from '../layouts/Header.astro';
import Format from '../components/GeneralPage.astro';
import FooterSimple from '../layouts/footer.astro';
---
<head>
    <meta charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<HeaderSimple></HeaderSimple>
<Format image="NitEstrella.jpg">
<p>En la pintura, el cielo se despliega en un torbellino de tonos azules profundos, salpicados de estrellas doradas y brillantes. Las estrellas parecen danzar y girar en el firmamento, creando una sensación de movimiento y vitalidad. La luna radiante, con su tono amarillo intenso, irradia una luz suave y misteriosa sobre el paisaje.</p>

<p>   El pueblo dormido se muestra en primer plano, con sus casas y edificios pintados en tonos oscuros y ondulantes. Las pinceladas enérgicas y expresivas de Van Gogh crean una sensación de movimiento y vida incluso en los objetos estáticos. Los cipreses oscuros y altos se elevan en el horizonte, añadiendo un toque de dramatismo y enigma a la escena.</p>
    
<p>   "La noche estrellada" es un testimonio del estilo distintivo de Van Gogh, que se caracteriza por el uso audaz del color y las pinceladas expresivas. A través de su obra, el artista buscaba transmitir emociones y capturar la esencia de la naturaleza y el mundo que lo rodeaba.</p>
    
<p>   Esta pintura ha dejado una profunda impresión en la historia del arte y sigue siendo admirada y estudiada en la actualidad. Su representación única de la belleza de la noche y la conexión entre el cielo y la tierra ha cautivado a espectadores de todo el mundo, convirtiéndose en una de las obras más reconocidas y amadas de todos los tiempos.</p>
</Format>
<FooterSimple></FooterSimple>