<head>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<footer>
    <div class="container">
      <p>© 2023 Mi Sitio Web, creado por David Tosca. Todos los derechos reservados.</p>
    </div>
  </footer>
  
  <style>
    footer {
      background-color: rgba(29, 0, 110, 0.3);
      border: 2px solid black;
      padding: 1px 0;
      text-align: center;
      margin: 20px;
    }
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
  