<head>
  <meta charset="UTF-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Explorando el <span style="color:BLUE;">Arte</span>:Una Exposición de tres <spans style="color:Brown"> Maestras</span></h1>
    <nav>
      <ul>
        <li><a href="/">Quines Somos?</a></li>
        <li><a href="LaMonaLisa">La Mona Lisa</a></li>
        <li><a href="LaNocheEstrellada">La noche estrellada</a></li>
        <li><a href="Guernica">Guernica</a></li>
        <li><a href="Todolist">Que hacer en un museo?</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>
<style>
    header {
      background-color: rgba(29, 0, 110, 0.3);
      border: 2px solid black;
      padding: 20px;
      text-align: center;
      margin: 10px;
    }

    nav {
      margin-bottom: 20px;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }
    
    nav ul li {
      margin-right: 10px;
    }
    body {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}
    nav ul li a {
      text-decoration: none;
      color: #333;
      padding: 5px 10px;
      border-radius: 5px;
    }

    nav ul li a:hover {
      background-color: #333;
      color: #fff;
    }
  </style>